{% extends 'base.html' %}
{%block content%} 
<h1>Let me Guess Your BirthDate</h1>
    <h3>Is your birthdate is present below ??</h3>
    <h4>If yes then press <span>Yes </span> else press <span>No</span></h4>
<table  class="center">
    <tr>
        <td class="pink">1</td>
        <td class="green">3</td>
        <td  class="red">5</td>
        <td class="blue">7</td>
    </tr>
    <tr>
        <td  class="red">9</td>
        <td class="green">11</td>
        <td class="pink">13</td>
        <td class="blue">15</td>
    </tr><tr>
        <td class="green">17</td>
        <td  class="red">19</td>
        <td class="blue">21</td>
        <td class="pink">23</td>
    </tr><tr>
        <td class="blue">25</td>
        <td class="pink">27</td>
        <td class="green">29</td>
        <td  class="red">31</td>
    </tr>
</table>
<form method="post">
    <button name = "yes" class="bt_yes" value="1">Yes</button>
    <button name = "yes" class= "bt_no" value="0">No</button>
</form>
{%endblock%}