{% extends 'base.html' %}
{%block content%} 
<h1>Let me Guess Your BirthDate</h1>
    <h3>Is your birthdate is present below ??</h3>
    <h4>If yes then press <span>Yes </span> else press <span>No</span></h4>
<table>
    <tr>
        <td class="green">18</td>
        <td  class="red">27</td>
        <td class="pink">26</td>
        <td class="blue">30</td>
    </tr>
    <tr>
        <td class="pink">31</td>
        <td class="green">17</td>
        <td  class="red">22</td>
        <td class="blue">16</td>
    </tr><tr>
        <td class="blue">20</td>
        <td class="green">25</td>
        <td  class="red">19</td>
        <td class="pink">28</td>
    </tr><tr>
        <td class="green">21</td>
        <td class="pink">23</td>
        <td class="blue">24</td>
        <td  class="red">29</td>
    </tr>
</table>
<form action="" method="post">
    <button name = "yes" class="bt_yes" value=1>Yes</button>
    <button name = "yes" class= "bt_no" value="0">No</button>
</form>
{%endblock%}