{% extends 'base.html' %}
{%block content%} 
<h1>Let me Guess Your BirthDate</h1>
    <h3>Is your birthdate is present below ??</h3>
    <h4>If yes then press <span>Yes </span> else press <span>No</span></h4>
<table>
    <tr>
        <td class="red">30</td>
        <td class="green">19</td>
        <td class="blue">22</td>
        <td class="pink">2</td>
    </tr>
    <tr>
        <td class="blue">3</td>
        <td class="green">7</td>
        <td class="pink">15</td>
        <td  class="red">23</td>
    </tr><tr>
        <td  class="red">18</td>
        <td class="pink">14</td>
        <td class="green">31</td>
        <td class="blue">27</td>
    </tr><tr>
        <td class="pink">6</td>
        <td class="green">26</td>
        <td  class="red">11</td>
        <td class="blue">10</td>
    </tr>
</table>
<form action="" method="post">
    <button name = "yes" class="bt_yes" value="1">Yes</button>
    <button name = "yes" class= "bt_no" value="0">No</button>
</form>
{%endblock%}